.jumbotron {
  border-radius: 0 !important;
  background: url("../../assets/img/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  max-height: 800px;
  min-height: 300px;
}