<div class="container">
  <div class="media">
    <img src="../../assets/img/blog1.jpg" class="mr-4 rounded-circle" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Blog entry 1</h5>
      Do dolore ut elit ex duis exercitation minim aliquip cillum. Est proident adipisicing in magna dolore dolor veniam eiusmod officia mollit nostrud incididunt sunt dolor excepteur pariatur. Consectetur do non amet pariatur ad labore tempor aliqua dolore incididunt qui eiusmod quis occaecat. Quis sunt dolore velit laborum in sit cupidatat magna sunt dolore. Aliquip anim minim dolore non do in aliquip minim occaecat ex consectetur adipisicing sunt amet consequat. Eiusmod adipisicing proident sed amet ea laborum fugiat deserunt esse mollit laborum duis minim. Laboris reprehenderit sed adipisicing in cupidatat minim cillum dolor occaecat dolor mollit sit qui sed.
    </div>
  </div>
  <div class="media">
    <img src="../../assets/img/blog2.jpg" class="mr-4 rounded-circle" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Blog entry 2</h5>
      Aliquip ut sint pariatur fugiat in dolor amet id veniam enim proident duis reprehenderit ex in ullamco duis dolor. Et voluptate anim in sunt deserunt anim eu ullamco ex ex ut minim aute exercitation voluptate in ea do. Anim culpa ex tempor cupidatat non et duis consectetur duis eiusmod sint velit in. Labore do cupidatat do non aliquip ea ut proident pariatur eiusmod nulla consectetur sunt consectetur. Magna in nisi ullamco sit non enim pariatur dolor elit proident dolor et mollit fugiat. Lorem ipsum nulla culpa est proident ad velit ut quis pariatur sunt cillum pariatur in excepteur. Sit mollit in ad sed ut sint do nostrud in ut qui minim proident incididunt do enim proident aliquip. Consectetur do laboris dolor minim id veniam commodo cillum incididunt est sunt in. Dolor eiusmod adipisicing aute veniam reprehenderit qui excepteur amet veniam eiusmod.
    </div>
  </div>
  <div class="media">
    <img src="../../assets/img/blog3.jpg" class="mr-4 rounded-circle" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Blog entry 3</h5>
      Minim excepteur velit consectetur excepteur ex id laboris est non. Magna velit irure non magna dolore labore dolor irure labore. Lorem ipsum ex id qui minim elit excepteur enim ullamco culpa exercitation sed non cillum laborum. Lorem ipsum id ut id mollit adipisicing esse velit dolore amet incididunt esse adipisicing aliquip esse. Lorem ipsum amet anim nulla irure eu ut nulla culpa pariatur consectetur proident. Esse non fugiat irure dolor sunt ad non do veniam. Lorem ipsum eu officia mollit cupidatat ea tempor in dolore irure pariatur ut minim commodo. Lorem ipsum culpa eu ut qui ut aute dolor duis cillum dolor sunt ullamco reprehenderit magna in nostrud amet dolor ex. Lorem ipsum aliquip eiusmod veniam anim sit adipisicing nostrud et in in. Est nostrud incididunt laborum duis id ea ut aliquip ut culpa mollit ex.
    </div>
  </div>
  <div class="media">
    <img src="../../assets/img/blog4.jpg" class="mr-4 rounded-circle" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Blog entry 4</h5>
      Lorem ipsum aute aute laborum consequat labore dolor laboris amet esse elit nostrud in laboris quis in sed. Sed ex velit officia in veniam elit labore dolor qui magna do elit amet eu eiusmod. Consequat deserunt sed commodo nostrud nostrud laboris enim velit deserunt esse in. Lorem ipsum dolore sunt do ullamco enim dolor qui mollit quis aliquip laboris velit eiusmod ex anim. Commodo ea aliquip duis ex dolor sunt ullamco ea sit aute laborum ea occaecat. Et irure in do laboris non consectetur velit do aliquip proident nulla ullamco. Ut anim commodo voluptate dolore do dolor esse adipisicing velit ut exercitation excepteur ut culpa pariatur non est. Do quis minim ut nostrud veniam in nisi in consequat do eu ut sunt minim anim.
    </div>
  </div>
</div>
