<app-hero></app-hero>
<div class="d-flex justify-content-center">
  <div class="card mb-4" style="width:1000px">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../assets/img/city_people.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p>The best Lorem Ipsum of your life.</p>
          <h3 class="card-title">Services and Offers</h3>
          <a href="#" class="card-link">Travel Insurance</a>
          <a href="#" class="card-link">Flights</a>
          <a href="#" class="card-link">Sightseeing</a>
          <a href="#" class="card-link">Accomodation</a>
          <hr>
          <p class="card-text">Irure excepteur ea officia ea reprehenderit in irure officia. Nostrud dolor dolore excepteur id reprehenderit deserunt labore sed aute labore incididunt fugiat occaecat dolore enim. Lorem ipsum in consequat in non mollit voluptate excepteur do est reprehenderit est tempor voluptate.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
